<div class="about-me-container">
  <div class="container">

    <div class="grid-1">
      <div class="intro-container">
        <div class="header">Hi !, let's build together</div>
        <a class="download-cv ripple" download="Resume-Valentin-Koparov" target="_blank" href="../../../assets/files/Resume-Valentin-Koparov-2022.pdf">
          DOWNLOAD CV
        </a>
      </div>
    </div>

    <div class="grid-2">
      <div class="intro-container">
        <div class="header-container-gap">
          <div class="header-container">
            <div class="header">WHO AM I</div>
            <div class="selector"></div>
          </div>
          <div class="description">
            Hello, my name is Valentin, and I am a web developer with a passion for creating dynamic and innovative websites and applications.
            I have a deep understanding of web development best practices and a proven track record of delivering high-quality results.
            If you are looking for a skilled and experienced web developer to bring your digital vision to life, look no further than me. I am dedicated to helping companies and clients achieve their goals and I am confident that I can deliver outstanding results for your project.
          </div>
        </div>
        <img class="profile-picture" src="../../../assets/images/profile-picture.svg" alt="">
        <div class="name-title-container">
          <div class="name">Valentin Koparov</div>
          <div class="title">Full-Stack Developer</div>
        </div>
      </div>
    </div>

  </div>
</div>
