<div class="contacts-container">
    <img class="background-image" src="assets/images/contact-background.png" alt="">
    <div class="top-fade"></div>
    <div class="right-fade"></div>
    <app-bottom-fade></app-bottom-fade>
    <div class="navigation-button-container">
        <div class="wrap-text">
            <a href="mailto:valentinkoparov.dev@gmail.com" class="contact">valentinkoparov.dev@gmail.com</a>
            <a href="tel:+359896219798" class="contact phone-link">+359 896219798</a>
            <div class="logo-row"><img ngSrc="assets/icons/logo.svg" width="300" height="60" alt=""></div>
            <div class="credits-row">
                <li>© 2023 Valentin Koparov</li>
                <li>/</li>
                <li>Code by Me!</li>
            </div>
        </div>
    </div>
</div>
