* {
  text-align: center;
}

.container {
  padding: 180px 0 250px 0;

  background: black;

  @media screen and (max-width: 60em) {
    padding: 120px 0 60px 0;
  }
}

.grid-1 {
  display: flex;
  justify-content: center;
  gap: 30px;

  margin: auto 20px;

  .grid-inner-content:nth-child(even) {
    position: relative;
    bottom: 70px;
  }

  .grid-inner-content:first-child {

    .content-container:hover {

      .action-card-logo {
        width: 110px;
      }
    }
  }

  .grid-inner-content:nth-child(even) {

    .content-container:hover {

      .action-card-logo {
        width: 240px;
      }
    }
  }

  .grid-inner-content:nth-child(3) {

    .content-container:hover {

      .action-card-logo {
        width: 190px;
      }
    }
  }

  .content-container {
    position: relative;

    cursor: pointer;

    .action-card-image {
      max-width: 100%;
    }

    .action-card-logo {
      position: absolute;
      bottom: 50%;
      left: 50%;

      transform: translate(-50%, 50%);

      filter: drop-shadow(0 0 0.75rem black);

      z-index: 5;
    }

    .action-type-header {
      width: max-content;

      position: absolute;
      bottom: 10px;
      left: 50%;

      font-style: normal;
      font-size: 14px;
      text-transform: uppercase;
      text-decoration: underline;
      text-underline-offset: 5px;

      color: rgba(255, 255, 255, .6);

      transform: translate(-50%, 0);

      z-index: 5;
    }

    .bottom-fade {
      width: 100%;
      height: 70%;

      position: absolute;
      bottom: 0;
      left: 0;

      background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.738) 19%, rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%, rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, transparent 100%);
    }
  }

  .content-container:hover {

    .action-type-header {
      margin-bottom: 30px;

      color: #FFFFFF;
    }

    .bottom-fade {
      height: 100%;
    }
  }

  @media screen and (max-width: 60em) {
    display: grid;
    grid-template-columns: auto auto;
    gap: 18px;

    .action-card-image {
      height: 250px;
    }

    .grid-inner-content:not(:first-child) {

      .content-container {

        .action-card-logo {
          width: 150px;
        }
      }

      .content-container:hover {

        .action-card-logo {
          width: 160px;
        }
      }
    }
  }
}
