* {
  transition: all .3s cubic-bezier(0.7, 0, 0.3, 1);
}

.social-ico-block {
  position: fixed;
  right: 30px;
  top: 50vh;

  width: 20px;

  transform: translate(0, -50%);

  z-index: 90;

  .social-ico {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }
}
