<div class="homepage-container">
    <div class="dark-overlay" [ngStyle]="{'top': bottomOffset, 'background': darkOverlay}">
        <div class="parallax">
            <div class="background">
                <img class="parallax-image" ngSrc="assets/background.jpg" alt="background-image" height="2730" width="4096"/>
            </div>
            <div class="logo-container">
                <img [ngStyle]="{'transform': logoTransform}" class="logo" ngSrc="assets/icons/logo-main.svg" alt="" height="388" width="546">
            </div>
            <div class="foreground" [ngStyle]="{'transform': foregroundTransform}">
                <img class="parallax-image" ngSrc="assets/foreground.png" alt="foreground-image" height="3495" width="5242"/>
            </div>
        </div>
        <div class="location">
            <svg width="22" height="22">
                <g transform="translate(1 1)" stroke="#FFF" stroke-width="1.5" fill="none" fill-rule="evenodd">
                    <path d="M14.2 5.8l-2.1 6.3-6.3 2.1 2.1-6.3z"></path>
                    <circle cx="10" cy="10" r="10"></circle>
                </g>
            </svg>
            <span>37.8136° S, 144.9631° E</span>
        </div>
        <div class="right-bottom-text"><span>Creating Web Application in Bulgaria / Sofia</span></div>
    </div>
    <div class="bottom-fade"></div>
</div>
