<div class="container">
    <div id="slide" class="slider">
        <div class="item" *ngFor="let project of projects" [style.background-image]="'url(' + project.imgSrc + ')'">
            <div class="content">
                <div class="top-fade"></div>
                <div class="wrapper">
                    <div class="name">{{ project.header }}</div>
                    <div class="des">{{ project.description }}</div>
                    <a class="button" [href]="project.url" target="_blank">View Project</a>
                </div>
                <div class="bottom-fade"></div>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button id="prev"><i class="fa-solid fa-angle-left"></i></button>
        <button id="next"><i class="fa-solid fa-angle-right"></i></button>
    </div>
</div>
